<%- include('../partials/header') %>

  <section id="show-page">
    <div>Airline: <%= flight.airline %>
    </div>
    <div>Departure Airport: <%= flight.airport %>
    </div>
    <div>Flight number: <%= flight.flightNo %>
    </div>
    <div>Departure Time: <%= flight.departs %>
    </div>
  </section>

  <form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Destination
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="ATL">ATL</option>
        <option value="DEN">DEN</option>
        <option value="DFW">DFW</option>
        <option value="GIG">GIG</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <option value="SSA">SSA</option>
      </select>
    </label><br>
    <label>Arrival Time:
      <input type="datetime-local" name="arrival">
    </label><br>
    <button type="submit">Add Destination Information</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <td>
          <%= d.airport %>
        </td>
        <td>
          <%= d.arrival %>
        </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <section id="seat-display">
    <table>
      <thead>
        <tr>
          <th>Seat Number</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>
          <td>
            <%= t.seat %>
          </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

  </section>

  <form action="/flights/<%= flight._id %>/tickets/new">
    <button type="submit">New Ticket </button>
  </form>

  <%- include('../partials/footer') %>